.body {
    background-color: #434650;
    display: flex;
    background-image: linear-gradient(to bottom right, #434650, #090a0c);
}

.body > .column-left {
    color: white;
    font-size: 30px;
    height: 800px;
    margin: 50px;
    margin-top: 75px;
}

.body > .column-left > .big-buttons {
    display: flex;
    margin: 35px;
}

.body > .column-left > .big-buttons > .green-button {
    height: 150px;
    margin-left: -35px;
}

.body > .column-left > .big-buttons > .green-button > .new-button {
    color: black;
    background-color: #4bce79;
    font-size: 27px;
    height: 68px;
    width: 266px;
    border-radius: 8px;
    border-color: #4bce79;
}

.body > .column-left > .big-buttons > .black-button {
    margin-left: 17px;
}

.body > .column-left > .big-buttons > .black-button > .newer-button {
    color: white;
    background-color: black;
    font-size: 27px;
    height: 68px;
    width: 230px;
    border-radius: 8px;
    border-color: black;
    font-weight: bold;
}

.body > .column-right {
    margin-top: 75px;
}

.body > .column-right > .paragraph {
    color: white;
    font-weight: bold;
    margin-left: 15px;
    font-size: 17px;
}

.body > .column-right > img {
    height: 100%;
    height: 400px;
    width: 736px;
}

.footer {
    display: grid;
    color: white;
    margin-top: -395px;
}

.footer > .squares {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer > .squares > .square {
    border: 2px solid #b3b3b3;
    font-size: 18px;
    width: 100%;
    align-content: center;
    background-color: #434650;
}

.bold-body {
    font-weight: 900;
}

.second-paragraph {
    color: #b3b3b3;
}

.light-blue {
    color: #60cef5;
}

.bold {
    font-weight: 900;
    padding-left: 8px;
}

.center {
    display: flex;
    justify-content: center;
    font-size: 24px;
}